@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');
body{
    height: 97.7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./fondo.jpg');
    background-size: cover;
    padding: 0;
    margin: 0;
}
html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}